<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.scc}" >

</head>
<body>
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">Blog</h2>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>Home</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>Types</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>Tags</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>Archive</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>About Me</a>
      <div class="right m-item item m-mobile-hide">
        <div class="ui icon inverted transparent input m-margin-tb-tiny">
          <input type="text" placeholder="Search....">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>

<!--    Middle Content    -->
<div class="m-container-small m-padded-tb-big">
  <div class="ui container">
    <!-- header -->
    <div class="ui top attached segment">
      <div class="ui horizontal link list">
        <div class="item">
          <img src="../static/images/icon.png" alt="" class="ui avatar image">
        </div>
        <div class="item">
          <div class="content">
            <a href="#" class="header" th:text="${blog.user.nickname}">汪峰</a>
          </div>
        </div>
        <div class="item">
          <i class="calendar icon"></i> 2020-04-01
        </div>
        <div class="item">
          <i class="eye icon"></i> 6324
        </div>
      </div>
    </div>
    <!-- image  -->
    <div class="ui attached segment">
      <img src="https://picsum.photos/id/1049/800/400" alt="" class="ui fluid rounded image">
    </div>
    <!-- blog content  -->
    <div class="ui attached segment">
      <div class="ui right aligned basic segment">
        <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
      </div>
      <br>
      <h2 class="ui center aligned header">关于刻意练习的清单</h2>

      <div id="content" class="m-padded-lr-responsive m-padded-tb-large">
        <h4>本篇引语</h4>

        <p>
          《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。 </p>

        <h4>原文</h4>

        <p>子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」 </p>

        <h4>译文</h4>

        <p>孔子说：「学了又时常温习和练习，不是很愉快吗？有志同道合的人从远方来，不是很令人高兴的吗？人家不了解我，我也不怨恨、恼怒，不也是一个有德的君子吗？」 </p>

        <h4>评析</h4>

        <p>宋代著名学者<u class="typo-u">朱熹</u>对此章评价极高，说它是「入道之门，积德之基」。本章这三句话是人们非常熟悉的。历来的解释都是：学了以后，又时常温习和练习，不也高兴吗等等。三句话，一句一个意思，前后句子也没有什么连贯性。但也有人认为这样解释不符合原义，指出这里的「学」不是指学习，而是指学说或主张；「时」不能解为时常，而是时代或社会的意思，「习」不是温习，而是使用，引申为采用。而且，这三句话不是孤立的，而是前后相互连贯的。这三句的意思是：自己的学说，要是被社会采用了，那就太高兴了；退一步说，要是没有被社会所采用，可是很多朋友赞同<abbr
            title="张燕婴">我</abbr>的学说，纷纷到我这里来讨论问题，我也感到快乐；再退一步说，即使社会不采用，人们也不理解我，我也不怨恨，这样做，不也就是君子吗？（见《齐鲁学刊》1986年第6期文）这种解释可以自圆其说，而且也有一定的道理，供读者在理解本章内容时参考。
        </p>

        <p>此外，在对「人不知，而不愠」一句的解释中，也有人认为，「人不知」的后面没有宾语，人家不知道什么呢？当时因为孔子有说话的特定环境，他不需要说出知道什么，别人就可以理解了，却给后人留下一个谜。有人说，这一句是接上一句说的，从远方来的朋友向我求教，我告诉他，他还不懂，我却不怨恨。这样，「人不知」就是「人家不知道我所讲述的」了。这样的解释似乎有些牵强。</p>

        <p>总之，本章提出以学习为乐事，做到人不知而不愠，反映出孔子学而不厌、诲人不倦、注重修养、严格要求自己的主张。这些思想主张在《论语》书中多处可见，有助于对第一章内容的深入了解。</p>
      </div>

      <!-- tag(s) -->
      <div class="m-padded-lr-responsive">
        <div class="ui basic teal left pointing label">
          胖头鱼
        </div>
      </div>

      <!-- Donate -->
      <div class="ui center aligned basic segment">
        <button id="payButton" class="ui orange basic circular button">要恰饭的嘛</button>
      </div>
      <div class="ui payQR flowing popup transition hidden">
        <div class="ui orange basic label">
          <div class="ui images" style="font-size: inherit !important;">
            <div class="image">
              <img src="../static/images/amazon.png" alt="" class="ui rounded bordered image" style="width: 120px">
              <div>Amazon</div>
            </div>
            <div class="image">
              <img src="../static/images/google.png" alt="" class="ui rounded bordered image" style="width: 120px">
              <div>Google</div>
            </div>
            <div class="image">
              <img src="../static/images/wechat.png" alt="" class="ui rounded bordered image" style="width: 120px">
              <div>Wechat</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- blog info  -->
    <div class="ui attached positive message">
      <div class="ui middle aligned grid">
        <div class="eleven wide column">
          <ui class="list">
            <li>Author: </li>
            <li>Posted Time: </li>
            <li>Copyright: </li>
            <li>Thanks</li>
          </ui>
        </div>
        <div class="five wide column">
          <img src="../static/images/icon.png" alt="" class="ui right floated rounded bordered image" style="width: 110px;">
        </div>
      </div>
    </div>
    <!-- comment section  -->
    <div class="ui bottom attached segment">
      <div id="comment-container" class="ui teal segment">
        <div class="ui threaded comments">
          <h3 class="ui dividing header">Comments</h3>
          <div class="comment">
            <a class="avatar">
              <img src="../static/images/icon.png">
            </a>
            <div class="content">
              <a class="author">Matt</a>
              <div class="metadata">
                <span class="date">Today at 5:42PM</span>
              </div>
              <div class="text">
                How artistic!
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="../static/images/icon.png">
            </a>
            <div class="content">
              <a class="author">Elliot Fu</a>
              <div class="metadata">
                <span class="date">Yesterday at 12:30AM</span>
              </div>
              <div class="text">
                <p>This has been very useful for my research. Thanks as well!</p>
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
            <div class="comments">
              <div class="comment">
                <a class="avatar">
                  <img src="../static/images/icon.png">
                </a>
                <div class="content">
                  <a class="author">Jenny Hess</a>
                  <div class="metadata">
                    <span class="date">Just now</span>
                  </div>
                  <div class="text">
                    Elliot you are always so right :)
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <a class="avatar">
              <img src="../static/images/icon.png">
            </a>
            <div class="content">
              <a class="author">Joe Henderson</a>
              <div class="metadata">
                <span class="date">5 days ago</span>
              </div>
              <div class="text">
                Dude, this is awesome. Thanks so much
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui form">
        <div class="field">
          <textarea name="content" placeholder="Please enter your comment."></textarea>
        </div>
        <div class="fields">
          <div class="field m-mobile-wide m-margin-bottom-small">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="nickname" placeholder="Name">
            </div>
          </div>
          <div class="field m-mobile-wide m-margin-bottom-small">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="text" name="nickname" placeholder="email">
            </div>
          </div>
          <div class="field m-mobile-wide m-margin-bottom-small">
            <button class="ui teal button m-mobile-wide"><i class="edit icon"></i> Publish</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>


<!--   footer  -->
<footer class="ui inverted vertical segment m-padded-tb-massive">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img src="../static/images/icon.png" th:src="@{/images/icon.png}"  class="ui rounded image" alt="" style="width: 110px">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced " >Newest</h4>
        <div class="ui inverted link list">
          <a href="#" class="item m-text-thin">User Story</a>
          <a href="#" class="item m-text-thin">User Story</a>
          <a href="#" class="item m-text-thin">User Story</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced " >Contact</h4>
        <div class="ui inverted link list">
          <a href="#" class="item m-text-thin">Email</a>
          <a href="#" class="item m-text-thin">LinkedIn</a>
          <a href="#" class="item m-text-thin">Github</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">About Me</h4>
        <div class="ui inverted link list">
          <p class="m-text-thin m-text-spaced m-opacity-mini">大可不必了解我，看我笑话就好...</p>
        </div>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © </p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#payButton').popup({
        popup : $('.payQR.popup'),
        on : 'click',
        position: 'bottom center'
    });
</script>
</body>
</html>